@{
    ViewData["Title"] = "Dashboard";
}

<div class="row justify-content-center mainn align-items-center overflow-auto">

    <div class="col-md-5 col-xl-3 ">
        <div class="card cardd" style="background-color:#5D9CEC;">
            <div class="card-body text-center">
                <h5 class="card-title">Customer</h5>
                <br /><br />
                <h1 class="card-text header1">0</h1>
            </div>
        </div>
    </div>

    <div class="col-md-5 col-xl-3 my-1 my-xl-0">
        <div class="card cardd" style="background-color:#FFCE54;">
            <div class="card-body text-center">
                <h5 class="card-title">Total Balance</h5>
                <br /><br /><br />
                <h2 class="card-text header2">P0.00</h2>
            </div>
        </div>
    </div>

    <div class="col-md-5 col-xl-3 ">
        <div class="card cardd" style="background-color:#48CFAD;">
            <div class="card-body">
                <h5 class="card-title text-center">Daily Transactions</h5>
                <br /><br /><br />
                <div class="row  justify-content-around">
                    <div class="col-sm-4">
                        <p class="card-text">Pawn</p>
                        <p class="card-text">Renewal</p>
                        <p class="card-text">Redeem</p>
                    </div>
                    <div class="col-sm-4 text-end">
                        <p class="card-text">P0.00</p>
                        <p class="card-text">P0.00</p>
                        <p class="card-text">P0.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5 col-xl-3 my-1 my-xl-0">
        <div class="card cardd" style="background-color:#f2a47d;">
            <div class="card-body text-center">
                <h5 class="card-title">Total Auction Item</h5>
                <br /><br />
                <h1 class="card-text header1">0</h1>
            </div>
        </div>
    </div>

</div>
