@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="container">
    <div class="row">
        <div class="row">
            
                <div class="col-md-2 add-border return-button">
                    <i class="fa fa-angle-double-left"></i>
                    <i>Return to Menu</i>
                </div>

        </div>
        <br />

        <div class="col-md-12">
            <br />
            <p class="h3"><strong>Civil Registry Form No. 1A</strong></p>
            <p class="h4">(Birth Available)</p>
            <br />
        </div>


        <form id="myForm">
            <div class="row add-border">
                <div class="col-md-4">
                    <div class="col-md-12 add-border">
                        <p class="h4"><strong>Transaction Details</strong></p><br />
                        <div class="form-group">
                            <label>Issued To</label>
                            
                        </div>
                        <div class="form-group">
                            <label>Officer Name</label>
                            
                        </div>
                        <div class="form-group">
                            <label>Officer Title</label>
                            
                        </div>
                        <div class="form-group">
                            <label>Verifier Name</label>
                           
                        </div>
                        <div class="form-group">
                            <label>Verifier Title</label>
                           
                        </div>
                        <div class="form-group">
                            <label>Amount Paid</label>
                           
                        </div>
                        <div class="form-group">
                            <label>O.R. Number</label>
                            
                        </div>
                        <div class="form-group">
                            <label>Date Paid</label>
                           
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="col-md-12 add-border">
                        <p class="h4"><strong>Form Details</strong></p><br />
                        <div class="col-md-12 form-group">
                            <label>Date</label>
                          
                        </div>
                        <div class="row pad-form">
                            <div class="col-md-6 form-group required">
                                <label class="control-label">LCR Registry Number</label>
                               
                            </div>
                            <div class="col-md-6 form-group required">
                                <label class="control-label">Date of Registration</label>
                                
                            </div>
                        </div>

                        <div class="row pad-form">
                            <div class="col-md-6 form-group required">
                                <label class="control-label">Name of Child</label>
                                
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Sex</label>
                                
                            </div>
                        </div>
                        <div class="row pad-form">
                            <div class="col-md-6 form-group required">
                                <label class="control-label">Name of Mother</label>
                               
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Name of Father</label>
                              
                            </div>
                        </div>

                        <div class="col-md-12 form-group">
                            <hr class="solid" />
                        </div>

                        <div class="col-md-6 form-group">
                            <label>Page</label>
                            
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Book Number</label>
                            
                        </div>
                        <div class="row pad-form">
                            <div class="col-md-6 form-group required">
                                <label class="control-label">Date of Birth</label>
                               
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Place of Birth</label>
                                
                            </div>
                        </div>

                        <div class="col-md-6 form-group">
                            <label>Citizenship of Mother</label>
                           
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Citizenship of Father</label>
                           
                        </div>
                        <div class="row pad-form">
                            <div class="col-md-6 form-group">
                                <label>Date of Marriage of Parents</label>
                              
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Place of Marriage of Parents</label>
                                
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-3 pull-right button-margin">
                    <div class="col-md-12">
                        <input type="Submit" value="Submit" class="btn btn-block btn-primary" id="btnSubmit" />
                    </div>
                    <div class="col-md-12" style="margin-top: 15px;">
                        <input type="button" value="View PDF" class="btn btn-block btn-primary" id="btnViewPDF" style="display: none;" />
                    </div>
                </div>
            </div>


        </form>
    </div>
</div>